.chart-total-expend {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.chart-expend-explain {
  color: #808080;
  font-size: 20px;
}

.chart-expend-value {
  color: darkviolet;
  font-size: 20px;
}

.chart-empty {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 270px;
}

.chart-empty-message {
  text-align: center;
  color: $expend;
  background-color: cyan;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: auto;
  border-radius: 10px;
  padding: 10px;
}
