.pie {
  background-color: white;
}

.chart {
  width: 50%;
  height: 50%;
  background-color: transparent;
  transition: 1.5s ease-out;
}

path {
  stroke: none;
}

circle {
  fill: none;
  transform-origin: center;
  transition: 1s ease-out;
}

.chart-hover {
  transform: scale(2);
}
