.pie {
  background-color: white;
}

.chart {
  width: 50%;
  height: 50%;
  background-color: transparent;
  transition: 1.5s ease-out;
}

path {
  stroke: none;
}

circle {
  fill: none;
  transform-origin: center;
  transition: 1s ease-out;
}

.chart-hover {
  transform: scale(2);
}

.chart-total-expend {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.chart-expend-explain {
  color: #808080;
  font-size: 20px;
}

.chart-expend-value {
  color: darkviolet;
  font-size: 20px;
}
