.transaction {
  &-container {
    @include flex-row;
    padding-top: 6px;
    margin-top: 6px;
    border-top: 1px solid #cccccc;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &-category {
    min-width: 6em;
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
    background-color: $expend;
    padding: 0.6em;
    border-radius: 25px;
    &-income {
      background-color: $income;
    }
    &-expend {
      background-color: $expend;
    }
  }
  &-description {
    flex: 6;
    box-sizing: border-box;
    padding-left: 0.5em;
  }
  &-payment {
    flex: 2;
    text-align: center;
  }
  &-charge {
    flex: 2;
    @include prefix-negative;
    @include postfix-KRW;
    text-align: right;
    color: $expend;
    &-income {
      @include prefix-positive;
      color: $income;
    }
    &-expend {
      @include prefix-negative;
      color: $expend;
    }
  }
}
.tttt {
  position: relative;
  right: 0;
}
