.calendar {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px;

  //   grid-template-columns: 30px 100px 100px 100px 100px;
  grid-auto-rows: 80px;
  margin: 50px;
}

.calendar-day-div {
  text-align: center;
  margin: 0.5px;
  margin: auto;
}

.calendar-date-div {
  border: 2px solid orange;
  padding: 5px;
  border-radius: 10px;
  margin: 0.5px;
}

.day-income {
  margin-top: 20px;
  height: 15px;
  text-align: right;
  color: blue;
}

.day-expend {
  margin-top: auto;
  text-align: right;
  color: red;
}

.calendar-empty {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding: 120px;
}

.calendar-empty-message {
  text-align: center;
  color: $expend;
  background-color: cyan;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  padding: 10px;
}
